* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

body {
  background: url("/public/assets/green-water-waves-2-blurred.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100svh;
}

header {
  height: 8svh;
  display: flex;
  flex-direction: column;
}

.main {
  height: 92svh;
  padding: 32px 64px;
  display: grid;
  grid-template-columns: 1.8fr 1.3fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.searchAndResults {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;

  padding: 12px;
  align-items: center;
  gap: 10px;

  border-radius: 16px;
  background: linear-gradient(
    128deg,
    rgba(255, 255, 255, 0.05) 43.88%,
    rgba(255, 255, 255, 0.1) 56.12%
  );
  box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.05) inset,
    0px 0px 8px 4px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
}

.playlist {
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 16px;
  background: linear-gradient(
    128deg,
    rgba(255, 255, 255, 0.05) 43.88%,
    rgba(255, 255, 255, 0.1) 56.12%
  );
  box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.05) inset,
    0px 0px 8px 4px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
}

@media only screen and (max-width: 1045px) {
  .main {
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .main {
    padding: 2rem 1rem;
  }

  .searchAndResults {
    min-height: 300px;
  }
}

/* scrollbar css below */

/* Target the entire website's scroll bar */
html {
  scrollbar-width: thin; /* For Firefox, sets the scrollbar width */
  scrollbar-color: #ffffff5c #ffffff00; /* For Firefox, sets thumb and track colors */
}

/* Scrollbar styles for WebKit browsers */
html {
  /* Width of the scrollbar */
  ::-webkit-scrollbar {
    width: 8px; /* Equivalent to thin scrollbar */
  }

  /* Background of the scrollbar track */
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
  }

  /* Scrollbar handle (thumb) */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 4px; /* Adjust the thumb's border radius */
  }

  /* On hover, make the thumb slightly more visible */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Slightly lighter on hover */
  }
}
